.ticker {
  overflow: hidden;
  width: 100%;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.8) 5%,
    #000 15%,
    #000 85%,
    rgba(0, 0, 0, 0.8) 95%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.8) 5%,
    #000 15%,
    #000 85%,
    rgba(0, 0, 0, 0.8) 95%,
    transparent 100%
  );
}

.tickerIn {
  display: flex;
  white-space: nowrap;
}

.loop {
  display: inline-flex;
  gap: 35px;
}

.tickerItem {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
