.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #111;
  border-radius: 1rem;
  overflow: hidden;
  color: white;
  width: 100%;
  max-width: 50rem;
  margin-inline: auto;
}

.mediaContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  padding-right: 1rem;
  z-index: 10;
  pointer-events: none;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

  @media (max-width: 768px) {
    top: 1rem;
    left: 1rem;
  }
}

.title {
  line-height: 1.2;
  margin: 0;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.text {
  padding: 1.5rem;
}

.description {
  font-size: 1rem;
  opacity: 0.8;
  max-height: 7rem;
  overflow-y: auto;
}
