@font-face {
  font-family: "StereoGothic";
  src: url("/fonts/StereoGothicW06-300.woff2") format("woff2"),
    url("/fonts/StereoGothicW06-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "StereoGothic";
  src: url("/fonts/StereoGothicW01-500.woff2") format("woff2"),
    url("/fonts/StereoGothicW01-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "StereoGothic";
  src: url("/fonts/StereoGothicW06-600.woff2") format("woff2"),
    url("/fonts/StereoGothicW06-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "StereoGothic";
  src: url("/fonts/StereoGothicW06-750.woff2") format("woff2"),
    url("/fonts/StereoGothicW06-750.woff") format("woff");
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}
